{% extends "layouts/base-fullscreen.html" %}

{% block title %} Login {% endblock title %}

{% block stylesheets %}{% endblock stylesheets %}

{% block divclass %} auth-bg-1 {% endblock divclass %}

{% block content %}

    <div class="row w-100">
        <div class="col-lg-4 mx-auto">
            <div class="auto-form-wrapper">

                <center>
                    <h2 class="text-center mb-4">Вход</h2>

                    {% if msg %}
                        <span class="text-danger">{{ msg | safe }}</span>
                    {% endif %}

                </center>

                <br/>
                <form method="post" action="">
                    {% csrf_token %}
                    <div class="form-group">
                        <label class="label">Логин</label>
                        <div class="input-group">
                            {{ form.username }}
                            <div class="input-group-append">
                    <span class="input-group-text">
                        <i class="mdi mdi-check-circle-outline"></i>
                    </span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="label">Пароль</label>
                        <div class="input-group">
                            {{ form.password }}
                            <div class="input-group-append">
                    <span class="input-group-text">
                        <i class="mdi mdi-check-circle-outline"></i>
                    </span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="submit" name="login" class="btn btn-primary submit-btn btn-block">Войти</button>
                    </div>
{#                    <div class="form-group d-flex justify-content-between">#}
{#                        <div class="form-check form-check-flat mt-0">#}
{#                            <label class="form-check-label">#}
{#                                <input type="checkbox" class="form-check-input" checked> Запомнить меня </label>#}
{#                        </div>#}
{#                        <a href="#" class="text-small forgot-password text-black">Забыл пароль</a>#}
{#                    </div>#}
{#                    <div class="text-block text-center my-3">#}
{#                        <span class="text-small font-weight-semibold">Нет аккаунта?</span>#}
{#                        <a href="{% url 'register' %}" class="text-black text-small">Зарегистрироваться</a>#}
{#                    </div>#}
                </form>
            </div>
            <p class="footer-text text-center p-2">&copy; Coded by
                <a class="text-white" target="_blank" rel="noopener noreferrer" href="https://vp4.ru/">VP4</a>
            </p>
        </div>
    </div>

{% endblock content %}
